
<html>

<head>
{% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>



<style type="text/css">
    
#a1
 {
width: 150px;
height:50px;
 }

#d{

    color: green;

    font-size: 20px;

    /*margin-top: -930px;
    
    
    padding-left: 140px;
    padding-bottom: 50px;
    text-align:left;*/
}

#b{

color: blue;

font-size: 20px;

}
</style>
</head>

<body>
<div class="jumbotron">
<div class="container">
   
<h1>Course Page</h1><br>    
 <div class="col-md-6">
        <form action="" method="post" id ="contact">
           
            {% csrf_token %}

            {{ course.as_p }}

 <div id="d"></div>

 <div id = "b"></div>  

            <table class="table">

               {{ formset.management_form }}
                {% for form in formset %}

                {% if forloop.first %}

                        <thead>

                        <tr>

                            {% for field in form.visible_fields %}

                            <th>{{ field.label|capfirst }}</th>
                        
                            {% endfor %}

                        </tr>

                        </thead>


                {% endif %}

                    <tr class="{% cycle row1 row2 %} formset_row">

                        {% for field in form.visible_fields %}

                        <td>


                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}

                                    {% for hidden in form.hidden_fields %}

                                    {{ hidden }}


                                    {% endfor %}

                                {% endif %}

                                {% if form.field.errors.as_ul %}

                                {% endif %}

                            {{ field }}

                        </td>

                    {% endfor %}

                    </tr>

                {% endfor %}


            </table>


                <input type="submit" class="btn btn-block btn-primary" id ="a1">
        </form>
    </div>
</div>
</div>


<script>
  $( function() {
    $( "#id_created_date").datepicker();
  } );
  </script>


    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'add more',
            deleteText: 'remove',
            prefix: 'form',
        });

    </script>
<script>
        
    $(document).ready(function(){
        var degree_stream;
        var branch_stream;


            $("#id_degree").autocomplete({
                source: function( request, response ) {
                   jQuery.get("/ajax_calls/search/", {
           'term': request.term
       }, function (data) {
        console.log(data)       
        var m = data[0];    
        txt= m["stream"] ;
        degree_stream = txt;
        response(data);
       });
               },
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                },
              });  
       
            $("#id_branch").autocomplete({
                source: function( request, response ) {
                   jQuery.get("/ajax_calls/searchs/", {
           'term': request.term
       }, function (data) {

        var m = data[0];    
        txt= m["stream"];
        branch_stream=txt;

        console.log("degree name ",degree_stream)
        console.log("branch name",branch_stream)
        if(degree_stream==branch_stream)
        {
        document.getElementById("b").innerHTML = "<li>"+txt+"</li>";
        document.getElementById("d").innerHTML = "";
       }
       
       else

       {

         document.getElementById("d").innerHTML = "<li>"+degree_stream+"</li>";
          document.getElementById("b").innerHTML = "<li>"+branch_stream+"</li>";
       }

       response(data);
       });
               },
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                },
              });  
        });
</script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#id_exam').multiselect({
                includeSelectAllOption: true

            });

        });
    </script>
<script>
</script>
</body>
</html>