{% extends 'basic.html' %}
{% block body_block %}


{% block extra_head %}

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
    * {
      .border-radius(3);
    }

    #field {
        margin-bottom:20px;
    }

    .form-control {
      size:9px;
      width:30%;
    }

    #b1{
      background-color: green;
      top:30px;
    }

    select{
      padding-right:100px;
    }

    </style>
    <script>
      $(document).ready(function () {
        var next = 0;
        $("#add-more").click(function(e){
            e.preventDefault();
            var addto = "#field" + next;
            var addRemove = "#field" + (next);
            var s='<select name="hobby_choices" id="id_hobby_choices"><option value="None">Please select</option><option value="Music">Music</option><option value="Sports">Sports</option><option value="None">None</option></select>'
            // console.log(s)
            next = next + 1;
            var newIn = '<div id="field'+ next +'" name="field'+ next +'"><div class="form-group"> <div class="col-md-5">'+s+'</div></div><br><br> <div class="form-group"> <div class="col-md-5"> {{hobbies.hobby_name}} </div></div></div>';
            var newInput = $(newIn);
            var removeBtn = '<br><button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >Remove</button></div></div><div id="field">';
            var removeButton = $(removeBtn);
            // console.log(removeButton)
            $(addto).after(newInput);
            $(addRemove).after(removeButton);
            $("#field" + next).attr('data-source',$(addto).attr('data-source'));
            $("#count").val(next);

                $('.remove-me').click(function(e){
                    e.preventDefault();
                    var fieldNum = this.id.charAt(this.id.length-1);
                    var fieldID = "#field" + fieldNum;
                    $(this).remove();
                    $(fieldID).remove();
                });
        });
    });
    </script>
{% endblock %}
<div class="jumbotron">
  {% csrf_token %}
  {% if registered %}
    <h1>Thank you for registering!</h1>
  {% else %}
  {% if h %}
    <h2>Register Here!</h2>
    {% else %}
    <h2>Update Profile</h2>
    {% endif %}
  <form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <div id ="form">
  {% if h %}
  <label forname="Userrname"> Username  </label>
  {{ signup_detail.username }}
  <p><font color="red">{{ form.name.errors }}</font></p>
  <br>
  <label forname="Emailid"> Email_id </label>
  {{ signup_detail.email }}
  <p><font color="red">{{ form.email.errors }}</font></p>
  <br>
  <label forname="password"> Password</label>
  {{ signup_detail.password }}
  <br><br>
{% endif %}
  <label forname="phonenumber"> PhoneNumber</label>
  {{ student_detail.PhoneNumber }}
  <br><br>
  <label forname="qualification"> Qualification </label>
  {{ student_detail.qualification }}
  <br><br>
  <label forname="subject"> Subjects </label>
  {{ student_detail.subjects }}
  <br><br>
  <label forname="percentage"> Percentage </label>
  {{ student_detail.percentage }}
  <br><br>

  <label forname="Description">Description</label>
  {{ student_detail.Description }}

<br>
<br>
 <div class="col-xs-0">
            <div class="col-md-12" >
                <div id="field">
                <div id="field0">

<!-- choice field-->
<div class="form-group">
  <label class="col-md-4 control-label" for="action_id">Hobby_choices</label>
  <div class="col-md-5" id="a1">
  <!-- <input id="action_id" name="action_id" type="text" placeholder="" class="form-control input-md"> -->
{{hobbies.hobby_choices}}
<p><font color="red">{{ hobbies.hobby_choices.errors }}</font></p>
  </div>
</div>
<br><br>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="action_name">Hobbies_name</label>
  <div class="col-md-5">
  <!-- <input id="action_name" name="action_name" type="text" placeholder="" class="form-control input-md">
     -->
{{hobbies.hobby_name}}
  </div>
</div>
<br><br>

</div>
<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="add-more" name="add-more" class="btn btn-primary">Add More</button>
  </div>
</div>
<br><br>

</div>
</div>

<label forname="hobby">profile_pic</label>{{ student_detail.profile_pic }}
<br>
<br>
<input type="submit" class="btn btn-primary">
</form>
{% endif %}
</div>
{% endblock %}

<!--<input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8"/>
<div class="input" id="field1"  data-items="8"/>-->
